# Unity asset ve metadata dosyaları
*.meta text eol=crlf
*.unity text eol=crlf
*.prefab text eol=crlf
*.mat text eol=crlf
*.anim text eol=crlf
*.controller text eol=crlf
*.shader text eol=crlf
# Kod dosyaları
*.cs text eol=crlf
*.js text eol=crlf
# Her dosyayı varsayılan olarak Windows satır sonu ile ayarla
* text=auto eol=crlf
# Binary dosyaları (satır sonu değişmez)
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg binary
*.fbx filter=lfs diff=lfs merge=lfs -text
*.dll binary
*.exe binary
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg binary
*.mp3 binary
*.psd filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
